* {
    --blue: #011b56;
    --light-blue: #00adee; 
    --red: #d2232d;
    --green: #3b9f45;
    --teal: #008aa1;
    --pale-teal: #e5f3f5;
    --other-pale-teal: #e6f1ec;
    
    --dark-grey: #262626;
    --narrow: 1050px;
}

body {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 2;
}

h2 {
    font-size: 1.8rem;
}


.l-restrict {
    max-width: 1280px;
    margin: 0 auto;
}

.l-restrict--narrow {
    max-width: var(--narrow);
}

.l-block {
    padding: 0 1rem;
}

.l-block--padding {
    padding: 2rem 1rem;
}

.c-header {
    min-height: 4rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
}

.c-header__wrapper {
    display: grid;
    grid-template-columns: 100px 1fr 100px;
    grid-template-areas: "social logo buttons";
    gap: 2rem;
    width: 100%;
}

.c-header__logo {
    width: 55vw;
    max-width: 500px;
    margin: 0 auto;
    grid-area: logo;
}

.c-socials {
    grid-area: social;
    display: flex;
    gap: 0.6rem;
    align-self: start;
}

.c-socials a {
    max-width: 25px;
}

.c-socials a img {
    width: 100%;
}

.c-socials i {
    color: var(--red);
    font-size: 1.8rem;
}

.c-header__title-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.c-header__title {
    font-size: 2.6rem;
    text-align: center;
}

.c-header__title--large {
    font-size: 4rem;
    font-weight: 700;
}

.c-header__title-number-wrapper {
    background-color: var(--light-blue);
    transform: rotate(-30deg);
}

.c-header__title-number {
    font-size: 6rem;
    color: white;
    line-height: 6rem;
}

.c-header__buttons {
    align-self: start;
    justify-self: end;
    grid-area: buttons;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.c-shopping-cart {
    width: 100%;
    max-width: 30px;
}

.c-hamburger__wrapper {
    position: relative;
}

.c-hamburger-button {
    display: flex;
    flex-direction: column;
    gap: 6px;
    background-color: transparent;
    border: none;
    align-self: start;
    justify-self: end;
    cursor: pointer;
}

.c-hamburger-button__line {
    height: 2px;
    width: 30px;
    background-color: black;
}

.c-product {
    display: grid;
    margin-top: 4rem;
    grid-template-columns: 1fr 1fr;
    max-width: var(--narrow);
    margin-bottom: 4rem;
    overflow: hidden;
}

.c-product__image {
    width: 100%;
    transform: rotate(5deg);
    margin-left: 2rem;
    align-self: center;
}

.c-product__quotes {
    display: flex;
    gap: 2rem;
    flex-direction: column;
    background-color: white;
    z-index: 5;
    align-self: center;
}

.c-product__quotes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
}

.c-quote {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    align-items: center;
}

.c-quote p {
    max-width: 36ch;
}

.c-quote__text {
    color: var(--blue);
}

.c-quote__text, .c-quote__paper {
    font-family: MarsnevBold, sans-serif;
    line-height: 1.25rem;
}

.c-quote__author, .c-quote__paper {
    color: var(--red);
}


.c-product__quotes p {
    text-align: center;
}

.c-product__purchase-wrapper {

}

.c-product__description {
    line-height: 1.55rem;
}

.c-purchase__purchase {
    display: flex;
    gap: 1rem;
}

.c-product__price {
    font-weight: 600;
    font-size: 1.8rem;
    color: var(--blue);
}

.c-purchase__counter {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.c-purchase__counter * {
    aspect-ratio: 1 / 1;
    width: 2.1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--pale-teal);
}

.c-purchase__counter-button {
    background-color: var(--teal);
    color: white;
}

.c-button {
    background-color: var(--red);
    color: white;
    border: none;
    padding: 0.4rem 1rem;
}

.c-payment-types {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.c-payment-types i {
    font-size: 1.4rem;
    color: var(--blue);
}

.c-payment-type__placeholder {
    /* width: 1.5rem;
    aspect-ratio: 16/11;
    border: 1px solid black;
    border-radius: 3px; */
    display: none;
}

.c-banner {
    background-color: var(--blue);
    padding-top: 1.7rem;
    padding-bottom: 1.7rem;
    text-align: center;
}

.c-banner p {
    color: var(--light-blue);
    font-size: 1.3rem;
    margin-bottom: 0.6rem;
}

.c-banner h4 {
    color: white;
    font-size: 1.8rem;
    font-weight: 600;
}

.c-testimonials {
    padding: 1.5rem 0;
    background-color: rgb(9, 141, 9);
    padding-bottom: 4.3rem;
}

.c-testimonials__wrapper {
    max-width: var(--narrow);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.c-testimonials__quotes {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.c-testimonials__quote {
    background-color: white;
    padding: 0.9rem;
    position: relative;
    z-index: 2;
    width: 73%;
    text-align: center;
    font-weight: 600;
}

.c-testimonials__quote:nth-child(2n) {
    align-self: flex-end;
}

.c-testimonials__quote:before {
    position: absolute;
    content: "";
    background-color: white;
    width: 1.3rem;
    aspect-ratio: 1 / 1;
    bottom: 0;
    transform: rotate(-45deg) translateY(-1px);
    transform-origin: bottom right;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%);
    z-index: 1;
    left: 2rem;
}

.c-testimonials__quote:nth-child(2n):before {
    right: 2rem;
    left: unset;
}

.c-testimonials__quote-text {
    color: var(--blue);
}

.c-testimonials__credit {
    color: var(--red);
    margin-top: 0.2rem;
}

.c-bio {
    background-color: var(--teal);
    color: white;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1.1rem;
    text-align: justify;
}

.c-bio__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.c-bio h3 {
    font-size: 1.8rem;
    text-align: center;
}

.c-bio strong {
    font-family: Arial, sans-serif;
    font-weight: 600;
}

.c-bio__text {
    max-width: 92ch;
    font-size: 1rem;
    line-height: 1.4rem;
    font-family: Arial, sans-serif;
}

.c-footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--dark-grey);
    color: white;
}

.c-footer__wrapper {
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    align-items: center;
}

.c-hamburger {
    display: none;
}

.c-hamburger.show {
    display: block;
    position: absolute;
    width: 12rem;
    display: flex;
    flex-direction: column;
}

.c-hamburger a {
    padding: 1rem;
    background-color: var(--pale-teal);
    color: black;
    text-decoration: none;
    display: block;
    text-align: right;
    transition: background-color 150ms;
}

.c-hamburger a:hover {
    background-color: var(--teal);
    color: white;
}

.c-purchase {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2rem;
    gap: 1rem;
}

.c-purchase h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--blue);
}

.c-purchase__background {
    background-color: var(--other-pale-teal);
}

.c-purchase__options {
    display: flex;
    gap: 1.1rem;
    margin-bottom: 0.6rem;
}

.c-purchase__options p {
    align-self: center;
    font-size: 0.85rem;
}


.c-images {
    background-image: url("/assets/graphics/CoverDesign-NOPLAYERS-01.svg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.c-images__container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: start;
    align-items: start;
    margin: 0 auto;
}

.c-images__image {
    background-color: white;
    padding: 0.3rem;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.37);
}

.c-images__image img {
    width: 100%;
    max-width: 200px;
    max-height: 230px;
}

.c-images__image:nth-child(4n+1) {
    transform: rotate(-8deg);
    margin-left: 0.6rem;
}

.c-images__image:nth-child(4n+2) {
    margin-top: 3.5rem;
    transform: rotate(8deg);
}

.c-images__image:nth-child(4n+2) img {
    max-width: 190px;
}

.c-images__image:nth-child(4n+3) {
    margin-top: 3rem;
    transform: rotate(-10deg);
    z-index: 10;
    max-width: 180px;
}

.c-images__image:nth-child(4n+3) img {
    max-width: 170px;
}

.c-images__image:nth-child(4n+4) {
    margin-top: 2.5rem;
    transform: rotate(6deg);
}

.c-logos {
    display: flex;
    gap: 0.5rem;
}

.c-logos a {
    max-width: 23px;
    width: 100%;
}

.c-logos a img {
    width: 100%;
}

.c-contact {
    display: grid;
    grid-template-columns: auto 16rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 1000px;
    padding: 2rem 0;
}

.c-contact__image {
    width: 100%;
    max-width: 400px;
    align-self: center;
    justify-self: center;
}

.c-form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-form__title {
    font-size: 1.5rem;
    color: var(--blue);
}

.c-submit {
    align-self: flex-start;
    min-width: 100px;
}

.c-form__wrapper {
    width: 100%;
    max-width: 16rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.c-form__section {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    position: relative;
}

.c-form__label {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0.5rem, -50%);
    background-color: white;
    padding: 0 0.6rem;
    font-size: 1rem;
    font-family: Nunito, sans-serif;
    color: rgb(46, 46, 46);
}

.c-form__input, .c-form__textarea {
    padding: 0.8rem 0.8rem;
    padding-top: 0.9rem;
    border: 1px solid rgb(177, 177, 177);
    font-family: Nunito, sans-serif;
}

.c-form__textarea {
    resize: vertical;
    min-height: 100px;
}

/* Media Queries */

@media screen and (min-width: 1200px) {
    .c-contact {
        padding: 4rem;
    }
}

@media screen and (max-width: 900px) {
    
}

@media screen and (max-width: 700px) {
    .c-product {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
    }

    .c-product__image {
        max-width: 350px;
        align-self: center;
        justify-self: center;
        margin-left: min(25vw, 6rem);
    }

    .c-images__container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        justify-content: start;
        align-items: start;
        margin: 0 auto;   
    }

    .c-images__image:nth-child(n) img {
        max-width: 200px;
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .c-header__wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: "social buttons"
                             "logo logo"   ;
        row-gap: 1rem;
    }

    .c-header__logo {
        width: 100%;
        max-width: 400px;
    }
}

@media screen and (max-width: 500px) {
    .c-contact {
        display: flex;
        flex-direction: column-reverse;
    }

    .c-contact__image {
        max-width: 400px;
        width: 100%;
        padding-left: 25vw;
        margin-top: 4rem;
    }
}

@media screen and (max-width: 400px) {
    .c-purchase h3 {
        font-size: 1.2rem;
    }

    .c-purchase__options {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        width: 100%;
    }
}